ul.languages {
  list-style: none;
  margin-top: 0.6em;

  li {
    cursor: pointer;
  }
}

a {
  cursor: pointer;
}

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  @extend .flag-icon-background;
  position: relative;
  display: inline-block;
  width: (4 / 3) * 1em;
  line-height: 1em;
  margin-right: 0.6em;

  &:before {
    content: '\00a0';
  }

  &.flag-icon-squared {
    width: 1em;
  }

  &.flag-icon-cs {
    background-image: url('/assets/img/flags/4x3/cs.svg');
  }

  &.flag-icon-de {
    background-image: url('/assets/img/flags/4x3/de.svg');
  }

  &.flag-icon-en {
    background-image: url('/assets/img/flags/4x3/en.svg');
  }

  &.flag-icon-es {
    background-image: url('/assets/img/flags/4x3/es.svg');
  }

  &.flag-icon-fr {
    background-image: url('/assets/img/flags/4x3/fr.svg');
  }

  &.flag-icon-it {
    background-image: url('/assets/img/flags/4x3/it.svg');
  }

  &.flag-icon-ru {
    background-image: url('/assets/img/flags/4x3/ru.svg');
  }
}
