<div id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>{{screenTitle$ | async}}</h1>
      </div>
      <div class="col-sm-2">
        <ul class="languages">
          <ng-container *ngFor="let lang of getLangs()">
            <li (click)="setLang(lang)"
                *ngIf="(getCurrentLang() && lang != getCurrentLang()) || (!getCurrentLang() && lang != 'cs')"
            >
              <span class="flag-icon flag-icon-{{lang}}"></span>
              <span translate>common.langs.{{lang}}</span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <ul class="breadcrumbs">
      <li *ngIf="router.isActive('/questions', false); else normalLink">
        <a (click)="reloadPage()" translate>common.appTitle</a>
      </li>
      <ng-template #normalLink>
        <li>
          <a routerLink="/" translate>common.appTitle</a>
        </li>
      </ng-template>
      <li>{{screenTitle$ | async}}</li>
    </ul>
  </div>
</div>
