<!-- RESPONSE BADGE : begin -->
<div class="response-badge" (click)="toggle()">
  <div class="c-team-member m-has-portrait">
    <div class="image-overlay" *ngIf="overlayImageFileName">
      <p>
          <span>
            <img src="{{imageBase}}{{overlayImageFileName}}" [class.green-opacity]="checked" alt="">
          </span>
      </p>
    </div>
    <div class="checked-overlay" [class.shown]="checked">
      <i class="ico fa fa-check"></i>
    </div>
    <a>
      <div class="member-inner">
        <p class="member-portrait">
          <span>
            <img src="{{imageBase}}{{imageFileName}}" [class.green-opacity]="checked" alt="">
          </span>
        </p>
        <h4 class="member-name" [class.green-text]="checked">{{ title }}</h4>
        <h3 class="member-role" [class.green-text]="checked">{{ subtitle }}</h3>
      </div>
    </a>
  </div>
</div>
<!-- RESPONSE BADGE : end -->
