@import '../../../../styles_shared';

.response-badge {
  position: relative;
}

.c-team-member, .c-team-member {
  margin-bottom: 48px;
}

.checked-overlay {
  position: absolute;
  /*font-size: 1000%;
  top: -10px;
  left: 30px;*/
  font-size: 800%;
  top: 30px;
  left: 110px;
  z-index: 10;
  color: $color-1;
  text-shadow: 2px 2px 10px #000000;
  opacity: 0.0;
  @include transition( all, 200ms );
}

.checked-overlay.shown {
  opacity: 1.0;
  @include transition( all, 200ms );
}

.image-overlay {
  position: absolute;
  //top: 90px;
  //left: 115px;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $color-1;
  //background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  z-index: 5;
}

.image-overlay img {
  border-radius: 50%;
}

.response-badge img {
  opacity: 1.0;
  @include transition( all, 200ms );
}

.response-badge img.green-opacity {
  opacity: 0.5;
  @include transition( all, 200ms );
}

.response-badge h3, .response-badge h4 {
  color: $dark-gray;
  @include transition( all, 200ms );
}

.response-badge h3.green-text, .response-badge h4.green-text {
  color: $color-2;
  @include transition( all, 200ms );
}

.response-badge {
  cursor: pointer;
}
