<!--suppress AngularUndefinedBinding -->
<div id="core" class="core-bg-1">

  <!-- PAGE HEADER : begin -->
  <app-header></app-header>
  <!-- PAGE HEADER : begin -->

  <div class="container">
    <!-- PAGE CONTENT : begin -->
    <div id="page-content">
      <div class="various-content">
        <div class="feedback-ui">

          <app-custom-stepper linear (selectionChange)="handleStepChange($event)" (submit)="submitFeedback()"
                              #stepper>

            <app-custom-step [completed]="false">
              <app-choose-therapist (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-choose-therapist>
            </app-custom-step>

            <app-custom-step [completed]="false">
              <app-choose-massage (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-choose-massage>
            </app-custom-step>

            <app-custom-step [completed]="false">
              <app-choose-intensity (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-choose-intensity>
            </app-custom-step>

            <app-custom-step [completed]="false">
              <app-rate-therapist (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-rate-therapist>
            </app-custom-step>

            <app-custom-step [completed]="false">
              <app-rate-massage (complete)="stepComplete($event)" (incomplete)="stepIncomplete()">
              </app-rate-massage>
            </app-custom-step>

            <app-custom-step [completed]="false">
              <app-choose-receptionist (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-choose-receptionist>
            </app-custom-step>

            <app-custom-step [completed]="false">
              <app-rate-receptionist (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-rate-receptionist>
            </app-custom-step>

            <app-custom-step [completed]="false">
              <app-choose-client-source (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-choose-client-source>
            </app-custom-step>

            <app-custom-step [completed]="true">
              <app-customer-note (complete)="stepComplete()" (incomplete)="stepIncomplete()">
              </app-customer-note>
            </app-custom-step>

          </app-custom-stepper>

        </div>
      </div>
    </div>
    <!-- PAGE CONTENT : end -->
  </div>
</div>
