@import '../../../../styles_shared';

footer {
  margin-top: 48px;

  .c-button {
    margin-right: 48px;

    i.space-before {
      margin-left: 10px;
    }
  }

  .c-button[disabled], .c-button[disabled]:hover {
    color: #d0d0d0 !important;
    border-color: #d0d0d0 !important;
  }

  .c-button[disabled]:not(.m-type-2), .c-button[disabled]:not(.m-type-2):hover {
    background-image: none;
    background-color: #e7e7e7;
    @include box-shadow(none);
  }
}
