<!-- This is where the content from each CdkStep is projected to -->
<ng-container [ngTemplateOutlet]="selected?.content"></ng-container>

<footer>
  <button cdkStepperPrevious class="c-button m-type-2 m-big" [disabled]="selectedIndex < 1">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>{{'common.buttons.previous' | translate}}
  </button>
  <button cdkStepperNext class="c-button m-big" [disabled]="!selected?.completed" (click)="nextClicked()">
    <ng-container *ngIf="(selectedIndex < steps.length - 1); else submitText">
      {{'common.buttons.next' | translate}}<i class="fa fa-arrow-right space-before" aria-hidden="true"></i>
    </ng-container>
    <ng-template #submitText>
      <i class="fa fa-check" aria-hidden="true"></i>{{'common.buttons.submit' | translate}}
    </ng-template>
  </button>
</footer>
