<div class="row">
  <app-response-badge-group (value)="valueChanged($event)">
    <div class="col-sm-4" *ngFor="let rating of ratings">
      <app-response-badge
        [title]="rating.title | translate"
        [subtitle]="rating.description | translate"
        [imageFileName]="rating.imageFileName"
        [id]="rating.id"
        [imageBase]="imageBase"
        (select)="screenComplete($event)"
        [overlayImageFileName]="receptionistImageFileName"
      ></app-response-badge>
    </div>
  </app-response-badge-group>
</div>
