<div class="row">
  <app-response-badge-group (value)="valueChanged($event)">
    <div class="col-sm-4" *ngFor="let receptionist of receptionists">
      <app-response-badge
        [title]="receptionist.title"
        [subtitle]="'screens.chooseReceptionist.receptionistDesc' | translate"
        [imageFileName]="receptionist.imageFileName"
        [id]="receptionist.id"
        [imageBase]="imageBase"
        (select)="screenComplete({name: $event, imageFileName: receptionist.imageFileName})"
      ></app-response-badge>
    </div>
    <div class="col-sm-4">
      <app-response-badge
        [title]="'screens.chooseReceptionist.unknown.title' | translate"
        [subtitle]="'screens.chooseReceptionist.unknown.desc' | translate"
        [imageFileName]="'unknown.png'"
        [id]="'unknown'"
        [imageBase]="imageBase"
        (select)="screenComplete({name: $event, imageFileName: undefined})"
      ></app-response-badge>
    </div>
  </app-response-badge-group>
</div>
