<!--
Needed for custom step to work. Not sure why ng-template is needed.
Found here: https://github.com/angular/material2/blob/master/src/cdk/stepper/stepper.ts
-->
<ng-template>
  <ng-content></ng-content>
</ng-template>
