<div id="core" class="core-bg-1">

  <!-- PAGE HEADER : begin -->
  <app-header></app-header>
  <!-- PAGE HEADER : begin -->

  <div class="container">
    <!-- PAGE CONTENT : begin -->
    <div id="page-content">
      <div class="various-content">
        <div class="feedback-ui">

          <div class="row">
            <div class="col-sm-12">
              <p class="thanks-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <p class="thanks-text" [innerHTML]="'common.thanks.textMain' | translate"></p>
              <div *ngIf="happyClient">
                <p class="thanks-gift">
                  <strong>
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    www.thajskemasazekiwi.cz/<span class="green" translate>common.thanks.reviewLinkPath</span>
                  </strong>
                </p>
                <p class="thanks-gift-note">
                  {{ 'common.thanks.textReview' | translate:reviewBonusTranslateParam }}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 buttons">
              <button routerLink="/" class="c-button m-type-2 m-big">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'common.thanks.startOver' | translate }}
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- PAGE CONTENT : end -->
  </div>
</div>
