@import '../../../../styles_shared';

p.thanks-icon {
  font-size: 1000%;
  text-align: center;
  line-height: 1em;
  color: $color-1;
  padding-bottom: 0.1em;
}

p.thanks-text {
  text-align: center;
}

p.thanks-gift {
  text-align: center;
  font-size: 120%;
  margin-bottom: 6px;
}

p.thanks-gift i {
  margin-right: 5px;
}

p.thanks-gift-note {
  text-align: center;
}

p.thanks-gift .green {
  color: $color-2;
}

.buttons {
  margin-top: 48px;

  .c-button {
    margin-right: 48px;

    i.space-before {
      margin-left: 10px;
    }
  }
}
