<div class="row">
  <form class="default-form m-validate" [formGroup]="form">
    <div class="col-sm-6">
      <h2 class="heading-2" translate>screens.customerNote.note.title</h2>
      <p translate>screens.customerNote.note.text</p>
      <p>
        <label for="form-note" translate>screens.customerNote.note.label</label>
        <textarea class="m-required" formControlName="note" id="form-note"></textarea>
      </p>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <h2 class="heading-2" translate>screens.customerNote.newsletter.title</h2>
      <p translate>screens.customerNote.newsletter.text</p>
      <p>
        <label for="form-email" translate>screens.customerNote.newsletter.label</label>
        <input type="email" class="m-required m-email" formControlName="email" (blur)="onEmailChange()" id="form-email">
      </p>
      <p
        class="c-alert-message m-warning"
        *ngIf="form.get('email').touched && form.get('email').errors?.email"
      >
        <i class="ico fa fa-exclamation-circle"></i>
        {{'screens.customerNote.newsletter.error' | translate}}
      </p>
    </div>
  </form>
</div>
