<div class="row">
  <app-response-badge-group (value)="valueChanged($event)">
    <div class="col-sm-4" *ngFor="let clientSource of clientSources">
      <app-response-badge
        [title]="clientSource.title | translate"
        [subtitle]="clientSource.description | translate"
        [imageFileName]="clientSource.imageFileName"
        [id]="clientSource.id"
        [imageBase]="imageBase"
        (select)="screenComplete($event)"
      ></app-response-badge>
    </div>
  </app-response-badge-group>
</div>
