<div class="row">
  <app-response-badge-group (value)="valueChanged($event)">
    <div class="col-sm-4" *ngFor="let massage of massages">
      <app-response-badge
        [title]="massage.title | translate"
        [subtitle]="massage.description | translate"
        [imageFileName]="massage.imageFileName"
        [id]="massage.id"
        [imageBase]="imageBase"
        (select)="screenComplete($event)"
      ></app-response-badge>
    </div>
    <div class="col-sm-4">
      <app-response-badge
        [title]="'screens.chooseMassage.unknown.title' | translate"
        [subtitle]="'screens.chooseMassage.unknown.desc' | translate"
        [imageFileName]="'unknown.png'"
        [id]="'unknown'"
        [imageBase]="imageBase"
        (select)="screenComplete($event)"
      ></app-response-badge>
    </div>
  </app-response-badge-group>
</div>
