/* -----------------------------------------------------------------------------

    KIWI SKIN - VARIABLES

----------------------------------------------------------------------------- */

// WARINING: Must by manually synchronized with /www/library/css/skin/_skin_variables.scss

// MAIN PALETTE
$color-1-header: #6b2400; // primary accent color
$color-2-header: #7f2b00; // secondary accent color
$color-1: #90c326; // primary accent color
$color-2: #739920; // secondary accent color
$color-3: #90c326; // minor accents
$x-soft-gray: #eeeeee; // very soft backgrounds
$soft-gray: #e1e1e1; // dividers
$medium-gray: #d0d0d0; // soft background
$dark-gray: #3f3f3f; // titles, strong text
$x-dark-gray: #1a1a1a; // titles, strong text on bright bg
$red: #d9534f; // same red as danger label

// GENERAL
$body-bg: #FFF;
$body-font: #585858;
$link: $color-1;

// HEADER
$header-font: #FFF;
$header-submenu-bg: #FFF;
$header-submenu-font: #3f3f3f;

// BOTTOM PANEL
$bottom-panel-bg: #000;
$bottom-panel-title: $color-1;
$bottom-panel-font: #FFF;

//
// mixin dependencies (unchanged)
//

@mixin transition( $property, $duration, $effect:ease-in-out ) {
  -webkit-transition: $property $duration $effect;
  -moz-transition: $property $duration $effect;
  -o-transition: $property $duration $effect;
  transition: $property $duration $effect;
}

@mixin box-shadow( $shadow1, $shadow2:false ) {
  $params: $shadow1;
  @if $shadow2 {
    $params: $shadow1, $shadow2;
  }
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}
