<div class="row">
  <app-response-badge-group (value)="valueChanged($event)">
    <div class="col-sm-4" *ngFor="let intensityLevel of intensityLevels">
      <app-response-badge
        [title]="intensityLevel.title | translate"
        [subtitle]=""
        [imageFileName]="intensityLevel.imageFileName"
        [id]="intensityLevel.id"
        [imageBase]="imageBase"
        (select)="screenComplete($event)"
      ></app-response-badge>
    </div>
    <div class="col-sm-4">
      <app-response-badge
        [title]="'screens.chooseIntensity.unknown.title' | translate"
        [subtitle]="'screens.chooseIntensity.unknown.desc' | translate"
        [imageFileName]="'unknown.png'"
        [id]="'unknown'"
        [imageBase]="imageBase"
        (select)="screenComplete($event)"
      ></app-response-badge>
    </div>
  </app-response-badge-group>
</div>
