<div class="row">
  <app-response-badge-group (value)="valueChanged($event)" [multiSelect]="true" #badgeGroup>
    <div class="col-sm-4" *ngFor="let problem of problems">
      <app-response-badge
        [title]="problem.title | translate"
        [subtitle]="problem.description | translate"
        [imageFileName]="problem.imageFileName"
        [id]="problem.id"
        [imageBase]="imageBase"
        [forceUncheckOf]="problem.forceUncheckOf ? problem.forceUncheckOf : []"
        [forceUncheckOfAll]="problem.forceUncheckOfAll ? problem.forceUncheckOfAll : false"
      ></app-response-badge>
    </div>
  </app-response-badge-group>
</div>
