<div class="row">
  <app-response-badge-group (value)="valueChanged($event)">
    <div class="col-sm-4" *ngFor="let therapist of therapists">
      <app-response-badge
        [title]="therapist.title"
        [subtitle]="'screens.chooseTherapist.therapistDesc' | translate"
        [imageFileName]="therapist.imageFileName"
        [id]="therapist.id"
        [imageBase]="imageBase"
        (select)="screenComplete({name: $event, imageFileName: therapist.imageFileName})"
      ></app-response-badge>
    </div>
    <div class="col-sm-4">
      <app-response-badge
        [title]="'screens.chooseTherapist.unknown.title' | translate"
        [subtitle]="'screens.chooseTherapist.unknown.desc' | translate"
        [imageFileName]="'unknown.png'"
        [id]="'unknown'"
        [imageBase]="imageBase"
        (select)="screenComplete({name: $event, imageFileName: undefined})"
      ></app-response-badge>
    </div>
  </app-response-badge-group>
</div>
